.cartao {
    display: flex;
    flex-direction: column;

    text-align: center;

    box-sizing: border-box;

    background-color: var(--branco);

    overflow: hidden;

    padding-top: 1.75rem;
    padding-bottom: 1.75rem;

    box-shadow: 10px 10px 30px var(--preto-transparente);
}

.cartao--produto {
    text-align: left;

    padding-left: 50%;

    position: relative;

    flex-direction: row;

    height: 200px;
}


/* Na explicação isso aqui vai ter que mudar. "Funciona" para todas as imagens que recebi de produtos */
.cartao__imagem {
    position: absolute;
    top: 50%;
    left: -8rem;

    transform: translatey(-50%);
    /* Esse z-index pode ser completamente removido assim que a explicação fizer sentido. Caso contrário não vejo o porque de remover */
    z-index: 1;

    width: 300px;
}

/* Isso aqui pode ser removido depois de pensar um pouco melhor na explicação das imagens */
.cartao__conteudo {
    position: relative;
    z-index: 2;
}

.cartao__titulo {
    margin-bottom: .5rem;
}

.cartao__preco {
    margin-bottom: 1.75rem;
}


/* Quero ver quem vai ser a primeira pessoa a dizer que isso aqui é gambiarra */
.cartao__icone {
    margin-left: 1.75rem;
}
