.footer {
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;

    background-color: var(--branco);
    background-image: url(../../img/splash.svg);
    background-position: top -11rem right;
    background-repeat: no-repeat;
}

.footer__logo {
    max-width: 11.125rem;

    margin-bottom: 1.25rem;
}

.footer__social {
    margin-bottom: 2rem;
}

.footer__social-media {
    color: var(--amarelo);
    font-size: 1.625rem;
    
    margin-right: 1.625rem;
}

.footer__unidade {
    margin-bottom: 2rem;
}

.footer__unidade-titulo {
    display: block;

    margin-bottom: .5rem;
}
