.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    box-sizing: border-box;

    width: 100%;

    padding-top: .75rem;
    padding-bottom: .75rem;
}

.header__logo {
    max-width: 11.125rem;
}

.header__carrinho {
    width: 1.75rem;
}
