.lista-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: left;
}

.item {
    display: flex;
    align-items: center;

    width: 15rem;

    margin-bottom: 1rem;
}

.item__icone {
    display: block;

    margin-right: 1rem;

    width: 52px;
    height: 52px;

    border-radius: 50%;

    background-color: var(--amarelo);

    background-size: 1.375rem;
    background-repeat: no-repeat;
    background-position: center;
}

.item__icone--cursor {
    background-size: 1.1rem;
    background-image: url(../../img/icon/mouse.svg);
}

.item__icone--carrinho {
    background-image: url(../../img/icon/cart.svg);
}

.item__icone--caminhao {
    background-image: url(../../img/icon/truck.svg);
}
