:root {
    --amarelo: #FFCB47;
    --amarelo-transparente: #FFCB474D;
    --branco: #FFFFFF;
    --preto: #202020;
    --preto-transparente: #0000000F;

    --familia-titulo: 'Elsie Swash Caps', cursive;
    --familia-corpo: 'Montserrat', sans-serif;

    --peso-titulo: 900;
    --peso-botao: 700;

    --tamanho-titulo-grande: 82px;
    --tamanho-titulo-medio: 42px;
    --tamanho-titulo: 32px;
    --tamanho-subtitulo: 22px;
    --tamanho-corpo: 16px;
}

body {
    color: var(--preto);

    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    line-height: normal;

    background: url(../../img/fundo.png), url(../../img/pattern-fundo.svg) top center;
    background-size: 100%;
}

.container {
    padding-right: 16px;
    padding-left: 16px;
}

.fundo-destaque {
    background-color: var(--branco);
}
