@import url('_variaveis.css');
@import url('_reset.css');

body {
    color: var(--cinza);

    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    line-height: normal;

    background: url(../../img/fundo.png), url(../../img/pattern-fundo.svg) top center;
    background-size: 100%;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.fundo-destaque {
    background-color: var(--branco);
}

.titulo {
    color: var(--cinza);
    font-family: var(--familia-titulo);
    font-size: var(--tamanho-titulo);
    font-weight: var(--peso-titulo);
}

.titulo--destaque {
    font-family: var(--familia-titulo-destaque);
    color: var(--preto);
    font-size: var(--tamanho-titulo-destaque);
    font-weight: var(--peso-titulo);

    display: block;

    margin-top: .75rem;
    margin-bottom: .75rem;
}

.alinhamento--esquerda {
    text-align: left;
}

.alinhamento--meio {
    text-align: center;
}

.subtitulo {
    font-size: var(--tamanho-subtitulo);
}

.texto {
    line-height: 26px;
}
