.titulo {
    font-family: var(--familia-titulo);
    font-size: var(--tamanho-titulo);
    font-weight: var(--peso-titulo);
}

.subtitulo {
    font-size: var(--tamanho-subtitulo);
}

.subtitulo--destaque {
    font-weight: var(--peso-subtitulo);
}

.link {
    color: var(--amarelo);
}

.texto {
    line-height: 26pt;
}